.Subscription {
	color: rgb(220, 29, 18);
	display: block;
	font-weight: 500;
	margin-top: 20px;
	text-decoration: none;
}

.Subscription:hover {
	cursor: pointer;
	text-decoration: underline;
}

.Subscription svg {
	all: initial;
	fill: rgb(220, 29, 18);
	filter: none;
	display: inline-block;
	height: 13px;
	padding-right: 5px;
	vertical-align: middle;
	width: 13px;
}
