body,
html {
	background: rgb(255, 255, 255);
	margin: 0;
	scroll-behavior: smooth;
}

.App {
	color: rgb(32, 17, 59);
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	transition: 1s;
}

.Blue {
	color: rgb(0, 102, 204);
}

.Link {
	color: rgb(0, 102, 204);
	font-weight: 500;
	text-decoration: none;
	transition: 0.2s;
}

.Link:hover {
	color: rgb(32, 17, 59);
	cursor: pointer;
}

.Pulse {
	animation: pulse 1.25s ease-in-out 0s alternate infinite !important;
}

.Red {
	color: rgb(220, 29, 18);
}

@keyframes pulse {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi) {
	.App {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}
