.Trends {
	background: rgb(247, 250, 252);
	border-collapse: collapse;
	border-radius: 8px;
	box-shadow: 0 0 0 1px rgb(0 0 0 / 7%);
	color: rgb(79, 86, 107);
	font-size: 13px;
	margin-top: 8px;
	text-align: right;
	width: 100%;
}

.Trends tbody tr td {
	text-align: right;
	padding: 6px 16px;
}

.Trends tbody tr:last-of-type td {
	padding-bottom: 12px;
}

.Trends thead tr:first-of-type {
	background: rgb(227, 232, 238);
}

.Trends thead tr:first-of-type th {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.Trends thead tr th {
	font-weight: 600;
	padding: 6px 16px;
	white-space: pre;
}

.Trends .Keyword {
	font-weight: 600;
	text-align: left;
	text-transform: capitalize;
}

.Trends .Score {
	color: rgb(105, 115, 134);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.12px;
	padding: 10px 12px;
	text-align: left;
}
